POSTGRES_USER=eventbox
POSTGRES_PASSWORD=change-me-long-random-postgres-password

RABBITMQ_DEFAULT_USER=eventbox
RABBITMQ_DEFAULT_PASS=change-me-long-random-rabbitmq-password

JWT_ISSUER=Eventbox.Auth
JWT_AUDIENCE=Eventbox.Api
JWT_SIGNING_KEY=change-me-at-least-32-characters-long
JWT_EXPIRATION_MINUTES=120

PAYMENT_PROVIDER_SIGNATURE=change-me-provider-signature
INTERNAL_SERVICE_TOKEN=change-me-internal-service-token

GATEWAY_API_PORT=8050
AUTH_API_PORT=8000
EVENT_API_PORT=8010
TICKETING_API_PORT=8020
PAYMENT_API_PORT=8030
